body{
margin: 0;padding: 0;
background-color: rgb(42, 41, 41);
scroll-behavior: smooth;
display: flex;
height: auto;
width: 100%;
flex-wrap: nowrap;

}
.container{font-family: Arial, Helvetica, sans-serif;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            flex-wrap: nowrap;
            background-color: black;
           
        }
header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    z-index: 999;
    background-color: rgb(0, 0, 0);
    opacity: 70%;
    height: auto;
    flex-wrap: wrap;
    

}
.headmiddle{
        display: flex;
        justify-content: space-evenly;
        transition: 0.3s;
        cursor: pointer;
        background-color: rgb(4, 4, 4);
    
        

}
.headmiddle img{
    height: 50px;
    padding-left: 10px ;
    transition: 0.3s;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    transition: all;
    transition: 0.77s;
    
}
.headmiddle img:hover{
    height: 60px;
}
.headmiddle button:hover{
    background-color: rgb(7, 7, 7);
    box-shadow: 0 0 5px rgb(159, 159, 159);
    border-radius: 100px;
    
    
}
.headmiddle button{
    background-color: rgb(0, 0, 0);
    border: yellow;
}
.logopng{
    display: flex;
    align-items: center;
}
.logopng img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
    opacity: 100%;
    
    
}
.headright{
    display: flex;

}
.headright a{color: rgb(255, 255, 255);
            text-decoration: none;
            padding-left: 25px;
            font-size: 25px;
            opacity: 100%;
            font-weight: bold;
            transition: all;
            transition: 0.77s;
            
            

}
.headright a:hover{
    color: red;
    font-size: 30px;
}
.herovid{width:100% ; height:fit-content;
            
            position: relative;
            
}
.herosection{
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 100%;
            padding-bottom: 110px;
}
.hero-video{
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(30%);
            

}
.heroinfo{
    z-index: 1;
    position: absolute;
    top: 400px;
    left: 650px;
    text-align: center;

}
.heroinfo h1{
    font-size: 120px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-style: normal;
    margin-top: 30px;
    margin-bottom: 20px;
    background: linear-gradient(to right,#e4f404,rgb(233, 7, 203) ,rgb(231, 227, 6));
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
    
}
.heroinfo p{
    color: white;
    max-width: 250px;
    
    
}
.heroinfo button{
    background: linear-gradient(to right,#e4f404,rgb(233, 7, 203) ,rgb(231, 227, 6));
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
    border: 2px solid yellow;
    padding: 10px 40px;
    border-radius: 20px;
    cursor: pointer;
    color: black;
    transition: 0.3s;
    
}
.heroinfo button:hover{
    background-color: transparent;
    color: white;
    box-shadow: 0 0 15px yellow;
}
.para{
    display: flex;
    text-align: center;
    margin-left: 120px;
    font-size: 100%;
    font-weight: bold;
}
.paras{
    display: flex;
    text-align: center;
    margin-left: 175px;
    font-weight: bold;
}
.pageinfo{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    
    
    
   
}
.pageinfo p{
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: linear-gradient(to right,#e4f404,rgb(138, 226, 6));
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;

}
.pageinfo h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-size: 100px;
    max-width: 1150px;
    text-align: center;
    margin: 25px 0px;
    text-transform: uppercase;
    background: linear-gradient(to right,#e4f404,rgb(138, 226, 6));
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}
.img-box{
    width: 360px;
    height: 510px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    
}
.img-box img{width: 100%;
    height: 100%;
    object-fit: cover;
}
@keyframes animate-gradient{
    to{
        background-position: 200%;
    }
}
.pageinfo h4{
    margin-top: 50px;
    margin-bottom: 0;
}
.pageinfo h5{
    margin-top: 5px;
    color: gray;
    max-width: 425px;
    text-align: center;
    line-height: 25px;
}
.info-section{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    margin-top: 100px;

}
.info-section h3{
    margin-bottom: 0;
}
.info-section p{
    margin-top: 5px;
    color: gray;
    max-width: 400px;
    line-height: 25px;
}
.info-cards{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}
.card{
    position: relative;
    width: auto;
    height: 40vh;
    overflow: hidden;
    border: 1px solid gray;
    border-radius: 20px;
    transition: 0.5s;

}
.card h1{
    position: absolute;
    margin: 0;
    top: 10px;
    left: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    z-index: 1;
    background: linear-gradient(to right,#e4f404,rgb(201, 236, 6));
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
    max-width: 250px;

}
.card p{
    position: absolute;
    top: 80px;
    left: 5px;
    z-index: 1;
    max-width: 250px;
    color: lightgray;

}
.card video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card button{
    position: absolute;
    bottom: 5%;
    left: 5%;
    padding: 10px 25px;
    border: 1px solid gray;
    background-color: #0f1217;
    color: gray;
    border-radius: 20px;
    box-shadow: 0 0 5px lightgray;
    cursor: pointer;
    transition: 0.3s;
}
.card button:hover{
    box-shadow: 0 0 15px lightgray;
    opacity: 0.7;
}
.card:hover{
    box-shadow: 0 0 15px rgb(202, 202, 202);
}
.info-wrapper {
  display: flex; 
  justify-content: space-between; 
  gap: 40px;
}


.infos-section {
  flex: 1;
  max-width: 600px; 
}

@media screen and (max-width:650px){
    header{
        padding: 0 10px;
    }
    .headright a{font-size: 12px;
        padding: 0 5px;


    }
    .heroinfo{
        left: 5%;
        
    }
    .herosection h1{
        font-size: 90px;

    }
}