
body {
    margin: 0;
    padding: 0;
    background-color: rgb(42, 41, 41);
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    overflow-x: hidden; 
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: black;
    width: 100%;
}


header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.7); 
    height: auto;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.logopng {
    display: flex;
    align-items: center;
}

.logopng img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    opacity: 100%;
}

.headmiddle {
    display: flex;
    justify-content: space-evenly;
    transition: 0.3s;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50px;
    padding: 5px;
}

.headmiddle img {
    height: 50px;
    padding: 0 10px;
    transition: 0.3s;
    margin-right: 5px;
    transition: 0.77s;
}

.headmiddle img:hover {
    height: 60px;
}

.headmiddle button {
    background-color:transparent;
    border: none;
    transition: 0.3s;
}

.headmiddle button:hover {
    background-color: rgb(7, 7, 7);
    box-shadow: 0 0 5px rgb(159, 159, 159);
    border-radius: 100px;
}

.headright {
    display: flex;
    flex-wrap: wrap;
}

.headright a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding-left: 25px;
    font-size: 25px;
    font-weight: bold;
    transition: 0.77s;
}

.headright a:hover {
    color: red;
    font-size: 30px;
}


.herosection {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.herovid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(40%); 
}

.heroinfo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heroinfo h1 {
    font-size: 120px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 20px;
    background: linear-gradient(to right, #e4f404, rgb(233, 7, 203), rgb(231, 227, 6));
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
    line-height: 1.1;
}

.heroinfo p {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 5px 0;
}

.heroinfo button {
    background: linear-gradient(to right, #e4f404, rgb(233, 7, 203), rgb(231, 227, 6));
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
    border: 2px solid yellow;
    padding: 15px 40px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.heroinfo button:hover {
    background: transparent;
    color: white;
    box-shadow: 0 0 15px yellow;
    -webkit-text-fill-color: white; 
}


.pageinfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 20px;
    box-sizing: border-box;
}

.pageinfo p {
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: linear-gradient(to right, #e4f404, rgb(138, 226, 6));
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
    text-align: center;
}

.pageinfo h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-size: 100px;
    max-width: 100%;
    text-align: center;
    margin: 25px 0px;
    text-transform: uppercase;
    background: linear-gradient(to right, #e4f404, rgb(138, 226, 6));
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}

.img-box {
    width: 100%;
    max-width: 800px;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin-bottom: 20px;
}

.img-box img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.pageinfo h4 {
    margin-top: 30px;
    text-align: center;
}

.pageinfo h5 {
    margin-top: 5px;
    color: gray;
    max-width: 425px;
    text-align: center;
    line-height: 25px;
}

.info-section {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 50px;
    align-items: center;
}

.info-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap; 
    width: 100%;
}

.infos-section {
    flex: 1;
    min-width: 300px;
}

.infos-section h3 {
    margin-bottom: 10px;
    color: #e4f404;
}

.infos-section p {
    margin-top: 5px;
    color: gray;
    line-height: 25px;
}


.info-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
    gap: 20px;
    width: 100%;
    margin-top: 30px;
    padding-bottom: 50px;
}

.card {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    border: 1px solid gray;
    border-radius: 20px;
    transition: 0.5s;
}

.card h1 {
    position: absolute;
    margin: 0;
    top: 10px;
    left: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    z-index: 1;
    background: linear-gradient(to right, #e4f404, rgb(201, 236, 6));
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
    max-width: 80%;
}

.card p {
    position: absolute;
    top: 80px;
    left: 15px;
    z-index: 1;
    max-width: 90%;
    color: lightgray;
    background: rgba(0, 0, 0, 0.6); 
    padding: 5px;
    border-radius: 5px;
}

.card video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 10px 25px;
    border: 1px solid gray;
    background-color: #0f1217;
    color: gray;
    border-radius: 20px;
    box-shadow: 0 0 5px lightgray;
    cursor: pointer;
    transition: 0.3s;
}

.card button:hover {
    box-shadow: 0 0 15px lightgray;
    opacity: 0.9;
    color: white;
}

.card:hover {
    box-shadow: 0 0 15px rgb(202, 202, 202);
}

@keyframes animate-gradient {
    to {
        background-position: 200%;
    }
}


@media screen and (max-width: 1024px) {
    .heroinfo h1 {
        font-size: 80px;
    }
    .pageinfo h1 {
        font-size: 70px;
    }
    .info-cards {
        grid-template-columns: 1fr 1fr;
    }
}

/* Mobile Devices */
@media screen and (max-width: 768px) {
    
    header {
        flex-direction: column;
        padding: 10px;
        position: relative; 
        background-color: black;
    }

    .logopng {
        margin-bottom: 10px;
    }
    
    .logopng img {
        margin-right: 0;
    }

    .headright {
        margin-top: 10px;
        justify-content: center;
        gap: 15px;
    }
    
    .headright a {
        font-size: 16px;
        padding: 5px;
    }


    .herosection {
        height: 60vh; 
        min-height: 400px;
    }

    .heroinfo h1 {
        font-size: 50px; 
    }

    .heroinfo p {
        font-size: 1rem;
    }

  
    .pageinfo h1 {
        font-size: 40px;
    }
    
    .pageinfo p {
        font-size: 24px;
    }

    .img-box {
        border-radius: 20px;
    }

    
    .info-section {
        width: 95%;
        margin-top: 30px;
    }

    .info-wrapper {
        flex-direction: column;
        gap: 30px;
    }

    .info-cards {
        grid-template-columns: 1fr; 
    }

    .card {
        height: 300px;
    }

    .card h1 {
        font-size: 40px;
    }
}